{% extends 'appCallCentr/base.html' %}

{% block 'body' %}

<div class="row">
    <div class="col-md-5">
        <p><h3>Пропущеные вызовы</h3></p>
        <div class="jopa">
            <div class="card">
                <div class="card-header">
                    asd
                </div>
                <div class="card-body">
                    123
                </div>
            </div>
        </div>

        <div class="miss" id="miss" name="miss">

        </div>

    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-2">
        <div class="events" id="events" name="events">


        </div>
    </div>
</div>
<!-- <meta http-equiv="Refresh" content="2" /> -->



<script>
    function worker(){
         var url =  'api/events';

         $.ajax({
          type:'get',
          url: url,
          async: true,
          success: function(data) {
          var html = JSON.stringify(data, null, 2)

<!--          $("#events").html("<p>" + data + "</p>");-->

            var list = document.getElementById('events');

            data.map(function (el) {
                var div_card = document.createElement('div');
                div_card.className = 'card';

                var div_header = document.createElement('div');
                div_header.className = 'card-header';
                var header = document.createTextNode('Имя: ' + el.id_client.first_name + ' Фамилия: ' + el.id_client.last_name);
                div_header.appendChild(header);

                var div_body = document.createElement('div');
                div_body.className = 'card-body';
                console.log(el)
                el.id_client.phones.map(function (phone) {

                    var body = document.createTextNode('Телефон: ' + phone);
                    div_body.appendChild(body);
                });
                var body = document.createTextNode('Статус: ' + el.id_status);
                    div_body.appendChild(body);

                div_card.appendChild(div_header);
                div_card.appendChild(div_body);
<!--                var contact_name = document.createTextNode('Имя:' + el.name);-->
<!--                var contact_email = document.createTextNode('Email:' + el.email);-->
<!--                div_contact.appendChild(contact_info);-->
<!--                div_contact.appendChild(document.createElement("p"));-->
<!--                div_contact.appendChild(contact_name);-->
<!--                div_contact.appendChild(document.createElement("br"));-->
<!--                div_contact.appendChild(contact_email);-->
<!--                div_contact.appendChild(document.createElement("br"));-->
<!--                var img = document.createElement("img");-->
<!--                img.src = el.avatar;-->
<!--                div_contact.appendChild(img);-->
<!--                list.appendChild(div_card);-->
                    list.innerHTML=div_card.innerHTML;

            });
          },
                complete: function() {
                setTimeout(worker, 3000);
               }
          });
         }
         $(document).ready(function(){
         setTimeout(worker, 3000);
         });
</script>
{% endblock %}