{% extends 'appCallCentr/base.html' %}

{% block 'body' %}

<div class="row">
  <div class="col-md-5">
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-3">
    <div class="events" id="events" name="events">

    </div>
    <div aria-live="polite" aria-atomic="true" class="bg-dark position-relative bd-example-toasts">
      <div class="toast-container position-absolute p-3" id="toastPlacement">
        <div class="toast">
          <div class="toast-header">
            <img src="..." class="rounded me-2" alt="...">
            <strong class="me-auto">Bootstrap</strong>
            <small>11 мин назад</small>
          </div>
          <div class="toast-body">
            Привет мир! Это тост-сообщение.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  worker();

  function worker(){
    // url = 'http://127.0.0.1:8000/api/events';
    $.ajax({
      type: "get",
      url: 'http://127.0.0.1:8000/api/events',
      async: true,
      success: function(data){
        // html = JSON.stringify(data, null, 2)
        // console.log(html);
        $('#events').empty();
        list = document.getElementById('events');

        data.map(function(el){
          // main
          div_main = document.createElement('div');
          div_main.className = 'card';


          //header
          div_header = document.createElement('div');
          div_header.className = 'card-header';
          h_head = document.createElement('h5');
          p_f_head = document.createElement('p');
          p_l_head = document.createElement('p');
          header_first = document.createTextNode('Имя: ' + el.id_client.first_name);
          header_last = document.createTextNode('Фамилия: ' + el.id_client.last_name);
          p_f_head.appendChild(header_first);
          p_l_head.appendChild(header_last);
          h_head.appendChild(p_f_head);
          h_head.appendChild(p_l_head);
          div_header.appendChild(h_head);

          //body
          div_body = document.createElement('div');
          div_body.className = 'card-body';
          el.id_client.phones.map(function (phone) {
              p_phone = document.createElement('p');
              phone = document.createTextNode('Телефон: ' + phone);
              p_phone.appendChild(phone);
              div_body.appendChild(p_phone);
          });

          p_discription = document.createElement('p');
          discription = document.createTextNode('Описание: ' + el.id_client.description);
          p_discription.appendChild(discription);
          div_body.appendChild(p_discription);

          p_status = document.createElement('p');
          status_phone = document.createTextNode('Статус зваонка: ' + el.id_status)
          p_status.appendChild(status_phone);
          div_body.appendChild(p_status);


          p_main = document.createElement('p');

          div_main.appendChild(div_header);
          div_main.appendChild(div_body);
          p_main.appendChild(div_main)
          list.appendChild(p_main)

        });

      },
      complete: function(){
        setTimeout(worker, 3000);
      }
    });
  }

  // $(document).ready(function(){
  //   worker();
  // });


</script>
{% endblock %}
